main {
  padding: 1rem;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.main-title {
  margin: 1rem 0rem 2rem 0rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.container .table-title {
  background: #143047;
  color: white;
  padding: 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: left;
}
.container div ul {
  background: #eee;
  padding: 1rem;
}
.container ul li {
  list-style: none;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  display: flex;
  /* font-size: 14px; */
  align-items: center;
  justify-content: space-between;
}
.container ul li:not(:last-child) {
  margin-bottom: 1rem;
}
.container .table-canvas canvas {
  padding: 1rem;
  width: 100% !important;
  height: 290px !important;
}
.container table,
.container .table-canvas canvas {
  font-size: 14px;
  background: #eee;
  border-spacing: 0.5rem 1em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.container table div {
  height: 260px;
  overflow: auto;
}
.container table div.table-agenda {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.m-0 {
  margin: 0;
}

/* width */
.container table div::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.container table div::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.container table div::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

/* Handle on hover */
.container table div::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.container table tr {
  display: table;
  width: 100%;
}

.container table td {
  vertical-align: middle;
  font-size: 14px;
}
.container table td span {
  display: block;
  font-size: 12px;
}
.container table td span.table-name {
  font-weight: bold;
  font-size: 14px;
}
.container table td.td-name {
  max-width: 90px;
}
.container table img {
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
}
.container table td button {
  background: #1ad0d0;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
  font-weight: 900;
  cursor: pointer;
}
.container ul li span {
  margin-right: 1rem;
}

.container-header-item {
  display: flex;
}
.container-header-item img {
  margin-right: 1rem;
}
.container-header-item span {
  max-width: 100px !important;
}
td:not(:last-child) svg {
  margin-right: 10px;
  color: #aaa;
}
svg[data-icon='exchange-alt'] {
  transform: rotate(90deg);
}
