* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
p,
span,
a {
  font-size: 0.785rem;
}
#root {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(200px, 0.5fr) 4fr;
}
img {
  max-width: 100%;
  display: block;
}
@media screen and (max-width: 1200px) {
  main .container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 700px) {
  #root {
    grid-template-columns: 1fr;
  }
  .header-aside img {
    width: 100px;
    margin: auto;
  }
  nav ul li {
    display: inline-block;
  }
}
